.button {
  background-color: $orange;
  border-radius: 20px;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.1),
    -4px 0 20px 0 rgba(0, 0, 0, 0.1);
  padding: 12px 24px;
  span {
    font-weight: 700;
    color: white;
  }
}
